#icon {
  border-radius: 50%;
  height: 46.3%;
  width: 46.3%;

  align-self: center;

  padding: 2%;
}

#link-icon {
  height: 5em;
  width: 5em;
  margin: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: solid whitesmoke 2px;
  border-radius: 50%;

  &:hover {
    opacity: 50%;
  }

  img {
    height: 3em;
    width: 3em;
  }
}
