@import "icons";
@import "text-block";

* {
  background-color: #3A3F41;
  margin: 0;
}

html, body {
  min-height: 100%;
  color: whitesmoke;
  letter-spacing: 0.7px;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.flex-column {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}

.center-row {
  margin: 10px;
}

.page-body {
  flex-grow: 1;
  height: 100%;
}

footer {
  flex-grow: 0;
  flex-shrink: 0;
  left: 45%;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
